.carreira{
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-normal;
    margin-top: 80px;
    border-bottom: 1px $red-normal solid;
    .title{
        font-size: 28px;
        margin-bottom: 50px;
    }
}
.cards-trajetoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    margin-bottom: 80px;
    gap: 200px;
    .profissional{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .academica{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        span{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        border: 1px $red-normal solid;
        width: 400px;
        height: 200px;
        .prof-title{
            display: flex;
            font-size: 18px;
            margin-bottom: 10px;
        }
        p{
            font-size: 12px;
            font-style:italic;
            margin-bottom: 30px;
            text-align: justify;
        }
        .periodo{
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            span{
            font-size: 14px;
            color: $red-normal;
        }
        }
        
    }
    .atual{
        background-color: rgba($color: $red-normal, $alpha: 0.3);
    }

}
@media screen and (max-width: 1024px ) {
    .carreira{
        width: 95%;
    }
    .cards-trajetoria{
        width: 95%;
        gap: 30px;
    }
}
@media screen and (max-width: 768px ) {
    .carreira{
        width: 95%;
    }
    .cards-trajetoria{
        width: 95%;
        gap: 20px;
        .cards{
            width: 350px;
            .prof-title{
                font-size: 14px;
            }
            p{
                font-size: 10px;
            }
            .periodo{
                span{
                font-size: 12px;
            }
            }
        }
    }
    
}
@media screen and (max-width: 480px ) {
    .carreira{
        width: 95%;
    }
    .cards-trajetoria{
        width: 95%;
        gap: 30px;
        flex-direction: column;
        .cards{
            width: 290px;
            .prof-title{
                font-size: 14px;
            }
            p{
                font-size: 10px;
            }
            .periodo{
                span{
                font-size: 12px;
            }
            }
        }
    }
    
}