.main{
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 30px;
    align-items: center;
}
.main-home{
    width: 1280px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    color: $white-normal;
    border-bottom: 1px $red-normal solid;
    padding-bottom: 80px;
}
.dados{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    img{
        width: 30px;
    }
    .dev{
        font-size: 14px;
        font-style: italic;
    }
    .hail{
        background-color: rgba($color: $red-normal, $alpha: 0.5);
        color: $white-normal;
        padding: 6px 8px;
        opacity: 90%;
        border-radius: 10px;
        i{
            color: $red-normal;
        }
    }
    .conections{
        display: flex;
        gap: 10px;
    }
    .discord{
        border-radius: 15px;
    }
}

.perfil{
    display: flex;
    position: relative;
    img{
        width: 300px;
    }
    .ic-linguage{
        display: flex;
        position: absolute;
        img{
            position: absolute;
            width: 35px;
            height: 35px;
        }
        .html{
            margin-left: 50px;
            margin-top: 50px;
        }
        .css{
            margin-left: 220px;
            margin-top: 50px;
        }
        .js{
            margin-left: 130px;
            margin-top: 250px;
        }
    }
}
.download{
    display: flex;
    flex-direction: column;
    gap: 5px;
    button{
        background-color: $black-normal;
        color: $red-normal;
        border-radius: 15px;
        padding: 4px;
    }
    .cv{
        border: none;
        text-align: end;
    }
    .whats{
        border-color: $red-normal;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            width: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-home{
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .dados{
        position: relative;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .main-home{
        width: 95%;
        height: 600px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .download{
        align-items: center;
    }
}
