.sidebar{
    display: flex;
    flex-direction: row;
    height: 50px;
    position: fixed;
    z-index: 99;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba($color: $red-normal, $alpha: 0.8);
    gap: 5px;
    
}
.menu-nav{
    button{
        background: transparent;
        border: 0;
        padding: 0;
        text-align: center;
        cursor: pointer;
        height: 40px;
        transition: all, 0.4s;

        span{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4px 0 4px;
            color: $white-normal;
            height: 30px;
            border-radius: 10px;
            line-height: 1;
            transition: all 0.3s;
            font-size: 12px;
        }   
    }
    i{
        color: $white-normal;
        font-size: 25px;
        margin-left: 10px;
        border-radius: 10px;
    }
}
.menu-nav button:hover > span{
    background: rgba(255, 255, 255, 0.3);
}
.sidebar > nav{
    flex: 1 1 auto;
}
@media screen and (max-width: 1024px) {
    .menu{
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
.menu-nav{
gap: 30px;    
    span{
        span{
            font-size: 10px;
        }
    }
}
.menu{
    width: 90%;
}
}
@media screen and (max-width: 590px) {
    .menu-nav{
        .itens-menu{
            visibility: hidden;
            width: 0px;
            opacity: 0;
        }
        .menu{
            justify-content: center; 
        }
        i{
            font-size: 40px;
        }
    }
}